[submodule "thirdparty/bigg"]
	path = thirdparty/bigg
	url = https://github.com/SmaugEditor/bigg.git
[submodule "thirdparty/portable-file-dialogs"]
	path = thirdparty/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "thirdparty/keyvalues"]
	path = thirdparty/keyvalues
	url = https://github.com/ozxybox/SpeedyKeyV.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/lodepng.cmake/lodepng"]
	path = thirdparty/lodepng.cmake/lodepng
	url = https://github.com/lvandeve/lodepng.git
